<div class="container">
  <div>
    <h2>Modifier Film:</h2>
  </div>
</div>

<form (ngSubmit)="updateFilm()">
  <div class="col-sm-2 col-md-2 col-lg-2">
    <label>ID Film</label>
    <input
      type="text"
      [(ngModel)]="currentFilm.idFilm"
      name="idFilm"
      class="form-control"
    />
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Nom Film</label>
    <input
      type="text"
      [(ngModel)]="currentFilm.nomFilm"
      name="nomFilm"
      class="form-control"
    />
  </div>

  <div class="col-sm-2 col-md-2 col-lg-2">
    <label>Duree en Minutes</label>
    <input
      type="number"
      [(ngModel)]="currentFilm.dureeFilm"
      name="dureeFilm"
      class="form-control"
    />
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Date Sortir</label>
    <input
      type="date"
      [ngModel]="currentFilm.dateSortir | date : 'yyyy-MM-dd'"
      (ngModelChange)="currentFilm.dateSortir = $event"
      name="dateSortir"
      class="form-control"
    />
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Genre:</label>
    <select
      class="form-control form-control-lg"
      id="idGen"
      name="idGen"
      [(ngModel)]="updatedGenID"
    >
      <option *ngFor="let gen of genres" [value]="gen.idGen">
        {{ gen.nomGen }}
      </option>
    </select>
  </div>

  <div class="mt-2">
    <button type="submit" class="btn btn-success">Modifier</button>
  </div>
</form>
